NODE_ENV=development
PORT=3004

REDIS_URL=redis://localhost:6382

AWS_REGION=ap-northeast-2
DYNAMODB_ENDPOINT=
DYNAMODB_NOTIFICATIONS_TABLE=notifications
DYNAMODB_PUSH_SUBSCRIPTIONS_TABLE=push-subscriptions

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
